.vs/
.vs/*
*/.vs/*
*.class
*.obj
*.*~
*.exe

# Vader
*/VaderWin/.vs/*
out/
output/
!vmf/src/modules/*/output/
output_test/
vmf_install

x64/
classes/
*/classes/
build/
targets/

#VS Code
.vscode/
*.code-workspace

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
